---
import LandingPageLayout from "../../layouts/LandingPageLayout.astro";
---

<LandingPageLayout>
  <section class="section-frame mx-xxl-11 overflow-hidden">
    <div
      class="wrapper image-wrapper bg-image bg-cover shadow-xl hero-wrapper"
      data-image-src=`${Astro.site.origin}/images/junk-landing-hero.jpg`
    >
      <div class="px-10 py-16 py-md-18 position-relative">
        <div class="row">
          <div class="col-sm-8 col-lg-5">
            <h1 class="display-1 fs-70 mb-5">
              Tucson's Best Junk Removal Team.
            </h1>
            <p class="lead fs-24 mb-8">
              We'll make your junk disappear quickly and affordably. Old
              furniture, appliances, remodel materials, garage junk, whatever. <strong
                >We'll handle it.</strong
              ><br />Give us a call today or estimate your quote below.
            </p>
            <div
              class="d-flex flex-wrap"
              id="page-title-buttons"
              data-cues="slideInDown"
              data-group="page-title-buttons"
              data-delay="900"
            >
              <span
                ><a
                  href="tel:520-600-6322"
                  class="btn btn-primary rounded-pill btn-icon btn-icon-start text-white me-4 mt-5"
                  ><i class="uil uil-phone"></i>520-600-6322</a
                ></span
              >
              <div class="d-flex mt-5 ">
                <span class="me-4 fs-22 mt-1">or</span>
                <a
                  href="#estimate-job"
                  class="btn btn-expand btn-soft-primary rounded-pill scroll"
                >
                  <i class="uil uil-arrow-right"></i>
                  <span>Get a quick estimate</span>
                </a>
              </div>
            </div>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
    </div>
    <!-- /.wrapper -->
  </section>
  <!-- /section -->
  <section class="wrapper bg-light">
    <div class="container py-10">
      <div class="row gx-lg-8 gy-8 mt-5 mt-md-12 mt-lg-0 mb-15 align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div
            class="row gx-md-5 gy-5"
            data-cues="fadeIn"
            data-group="images"
            data-disabled="true"
          >
            <div
              class="col-md-4 offset-md-2 align-self-end"
              data-cue="fadeIn"
              data-group="images"
              data-show="true"
              style="animation-name: fadeIn; animation-duration: 700ms; animation-timing-function: ease; animation-delay: 0ms; animation-direction: normal; animation-fill-mode: both;"
            >
              <figure class="rounded">
                <img
                  src="/images/box-truck.jpg"
                  alt="Empty Clutter Cowboys Box Truck"
                />
              </figure>
            </div>
            <!--/column -->
            <div
              class="col-md-6 align-self-end d-none d-md-block"
              data-cue="fadeIn"
              data-group="images"
              data-show="true"
              style="animation-name: fadeIn; animation-duration: 700ms; animation-timing-function: ease; animation-delay: 300ms; animation-direction: normal; animation-fill-mode: both;"
            >
              <figure class="rounded">
                <img
                  src="/images/cluttered-garage.jpg"
                  alt="A cluttered garage"
                />
              </figure>
            </div>
            <!--/column -->
            <div
              class="col-md-6 offset-md-1"
              data-cue="fadeIn"
              data-group="images"
              data-show="true"
              style="animation-name: fadeIn; animation-duration: 700ms; animation-timing-function: ease; animation-delay: 600ms; animation-direction: normal; animation-fill-mode: both;"
            >
              <figure class="rounded">
                <img
                  src="/images/garage-cleanout-pile.jpg"
                  alt="Pile of junk to clean from a garage"
                />
              </figure>
            </div>
            <!--/column -->
            <div
              class="col-md-4 align-self-start d-none d-md-block"
              data-cue="fadeIn"
              data-group="images"
              data-show="true"
              style="animation-name: fadeIn; animation-duration: 700ms; animation-timing-function: ease; animation-delay: 900ms; animation-direction: normal; animation-fill-mode: both;"
            >
              <figure class="rounded">
                <img
                  src="/images/moving-a-vase.jpg"
                  alt="Moving some living room junk"
                />
              </figure>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!--/column -->
        <div class="col-lg-6">
          <h2 class="display-4 mb-3">
            Clutter Cowboys is a <span class="underline-3 style-3 primary"
              >different kind</span
            > of junk removal company
          </h2>
          <p class="lead fs-lg mb-8 pe-xxl-2">
            Just because it's messy, unglamorous work doesn't mean you should
            have to deal with rude people, poor communication, outdated
            processes, and unreliable scheduling.
          </p>
          <div
            class="row gx-xl-10 gy-6"
            data-cues="slideInUp"
            data-group="services"
            data-disabled="true"
          >
            <div
              class="col-md-6 col-lg-12 col-xl-6"
              data-cue="slideInUp"
              data-group="services"
              data-show="true"
              style="animation-name: slideInUp; animation-duration: 700ms; animation-timing-function: ease; animation-delay: 0ms; animation-direction: normal; animation-fill-mode: both;"
            >
              <div class="d-flex flex-row">
                <div>
                  <div
                    class="icon btn btn-circle btn-lg btn-outline-primary pe-none me-5"
                  >
                    <i class="uil uil-dollar-alt fs-35"></i>
                  </div>
                </div>
                <div>
                  <h4 class="mb-1">Transparent pricing</h4>
                  <p class="mb-0">No more guesswork or surprises</p>
                </div>
              </div>
            </div>
            <!--/column -->
            <div
              class="col-md-6 col-lg-12 col-xl-6"
              data-cue="slideInUp"
              data-group="services"
              data-show="true"
              style="animation-name: slideInUp; animation-duration: 700ms; animation-timing-function: ease; animation-delay: 300ms; animation-direction: normal; animation-fill-mode: both;"
            >
              <div class="d-flex flex-row">
                <div>
                  <div
                    class="icon btn btn-circle btn-lg btn-outline-primary pe-none me-5"
                  >
                    <i class="uil uil-clock fs-35"></i>
                  </div>
                </div>
                <div>
                  <h4 class="mb-1">
                    On <span class="underline-3 style-2">your</span> schedule
                  </h4>
                  <p class="mb-0">
                    No more scheduling headaches and long arrival windows.
                  </p>
                </div>
              </div>
            </div>
            <!--/column -->
            <div
              class="col-md-6 col-lg-12 col-xl-6"
              data-cue="slideInUp"
              data-group="services"
              data-show="true"
              style="animation-name: slideInUp; animation-duration: 700ms; animation-timing-function: ease; animation-delay: 600ms; animation-direction: normal; animation-fill-mode: both;"
            >
              <div class="d-flex flex-row">
                <div>
                  <div
                    class="icon btn btn-circle btn-lg btn-outline-primary pe-none me-5"
                  >
                    <i class="uil uil-map-pin-alt fs-35"></i>
                  </div>
                </div>
                <div>
                  <h4 class="mb-1">Community focused</h4>
                  <p class="mb-0">
                    Your money stays in Tucson and we support local businesses
                    and organizations
                  </p>
                </div>
              </div>
            </div>
            <!--/column -->
            <div
              class="col-md-6 col-lg-12 col-xl-6"
              data-cue="slideInUp"
              data-group="services"
              data-show="true"
              style="animation-name: slideInUp; animation-duration: 700ms; animation-timing-function: ease; animation-delay: 900ms; animation-direction: normal; animation-fill-mode: both;"
            >
              <div class="d-flex flex-row">
                <div>
                  <div
                    class="icon btn btn-circle btn-lg btn-outline-primary pe-none me-5"
                  >
                    <i class="uil uil-desert fs-35"></i>
                  </div>
                </div>
                <div>
                  <h4 class="mb-1">Environmentally conscious</h4>
                  <p class="mb-0">
                    We're constantly improving our processes for better junk
                    disposal and business operations.
                  </p>
                </div>
              </div>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!--/column -->
      </div>
    </div>
  </section>

  <section class="wrapper bg-soft-primary angled upper-end lower-start">
    <div class="container py-14 py-md-16">
      <div class="row">
        <div class="col-lg-9 col-xl-8 col-xxl-7 mx-auto text-center">
          <h2 class="fs-15 text-uppercase text-muted mb-3">We're professionals</h2>
          <h3 class="display-4 mb-10">Does your junk look like this? We'd love to come grab your junk!</h3>
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
      <div
        class="swiper-container grid-view mb-6"
        data-margin="30"
        data-dots="true"
        data-loop="true"
        data-items-xl="3"
        data-items-md="2"
        data-items-xs="1"
        data-nav="true"
      >
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <figure class="rounded mb-6">
                <img
                  src=`${Astro.site.origin}/images/junk-pile-1.jpg`
                  alt=""
                />
              </figure>
            </div>
            <!--/.swiper-slide -->
            <div class="swiper-slide">
              <figure class="rounded mb-6">
                <img
                  src=`${Astro.site.origin}/images/junk-pile-2.jpg`
                  alt=""
                />
              </figure>
            </div>
            <!--/.swiper-slide -->
            <div class="swiper-slide">
              <figure class="rounded mb-6">
                <img
                  src=`${Astro.site.origin}/images/junk-pile-3.jpg`
                  alt=""
                />
              </figure>
            </div>
            <!--/.swiper-slide -->
            <div class="swiper-slide">
              <figure class="rounded mb-6">
                <img
                  src=`${Astro.site.origin}/images/junk-pile-4.jpg`
                  alt=""
                />
              </figure>
            </div>
            <!--/.swiper-slide -->
            <div class="swiper-slide">
              <figure class="rounded mb-6">
                <img
                  src=`${Astro.site.origin}/images/junk-pile-5.jpg`
                  alt=""
                />
              </figure>
            </div>
            <!--/.swiper-slide -->
            <div class="swiper-slide">
              <figure class="rounded mb-6">
                <img
                 src=`${Astro.site.origin}/images/junk-pile-6.jpg`
                  alt=""
                />
              </figure>
            </div>
            <!--/.swiper-slide -->
            <div class="swiper-slide">
              <figure class="rounded mb-6">
                <img
                 src=`${Astro.site.origin}/images/junk-pile-7.jpg`
                  alt=""
                />
              </figure>
            </div>
            <!--/.swiper-slide -->
            <div class="swiper-slide">
              <figure class="rounded mb-6">
                <img
                 src=`${Astro.site.origin}/images/junk-pile-8.jpg`
                  alt=""
                />
              </figure>
            </div>
            <!--/.swiper-slide -->
            <div class="swiper-slide">
              <figure class="rounded mb-6">
                <img
                 src=`${Astro.site.origin}/images/junk-pile-9.jpg`
                  alt=""
                />
              </figure>
            </div>
            <!--/.swiper-slide -->
          </div>
          <!--/.swiper-wrapper -->
        </div>
        <!-- /.swiper -->
      </div>
      <!-- /.swiper-container -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /section -->

  <section class="wrapper bg-light">
    <div class="container py-16">
      <div class="row">
        <div
          class="col-md-10 offset-md-1 col-lg-10 offset-lg-1 mx-auto text-center"
        >
          <h2 class="fs-15 text-uppercase text-muted mb-3">
            People really like us
          </h2>
          <h3 class="display-4 mb-10 px-xl-10 px-xxl-15">
            Don't take our word for it. Here's what some of our amazing
            customers had to say.
          </h3>
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
      <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-cb0ee9a8-765b-4b6a-a1c9-c829aaaf4574"></div>
      <!-- <div class="grid">
        <div class="row isotope gy-6">
          <div class="item col-md-6 col-xl-4">
            <div class="card">
              <div class="card-body">
                <span class="ratings five mb-3"></span>
                <blockquote class="icon mb-0">
                  <p>
                    “Top-notch service from Clutter Cowboys! They tackled my
                    garage cleanout with impressive speed and professionalism.
                    Friendly team, efficient work, and a clutter-free garage.
                    Highly recommend! 👍”
                  </p>
                  <div class="blockquote-details">
                    <img
                      class="rounded-circle w-12"
                      src=`${Astro.site.origin}/avatars/te1.jpg`
                      alt=""
                    />
                    <div class="info">
                      <h5 class="mb-1">Imaan</h5>
                    </div>
                  </div>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="item col-md-6 col-xl-4">
            <div class="card">
              <div class="card-body">
                <span class="ratings five mb-3"></span>
                <blockquote class="icon mb-0">
                  <p>
                    “Overall, I was really happy with Clutter Cowboys' service.
                    They made the whole process easy and stress-free. I'd
                    definitely recommend them to anyone who needs junk pickup!”
                  </p>
                  <div class="blockquote-details">
                    <img
                      class="rounded-circle w-12"
                      src=`${Astro.site.origin}/avatars/te2.jpg`
                      alt=""
                    />
                    <div class="info">
                      <h5 class="mb-1">Elizabeth</h5>
                    </div>
                  </div>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="item col-md-6 col-xl-4">
            <div class="card">
              <div class="card-body">
                <span class="ratings five mb-3"></span>
                <blockquote class="icon mb-0">
                  <p>
                    “Clutter Cowboys rocked! They cleared out my house before I
                    sold it, and I couldn't be happier. Super friendly, fast,
                    and eco-friendly too. The place looked amazing when they
                    were done. Highly recommend these guys!”
                  </p>
                  <div class="blockquote-details">
                    <img
                      class="rounded-circle w-12"
                      src=`${Astro.site.origin}/avatars/te3.jpg`
                      alt=""
                    />
                    <div class="info">
                      <h5 class="mb-1">Michael</h5>
                    </div>
                  </div>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="item col-md-6 col-xl-4">
            <div class="card">
              <div class="card-body">
                <span class="ratings five mb-3"></span>
                <blockquote class="icon mb-0">
                  <p>
                    “I recently had the pleasure of working with Clutter Cowboys
                    in Tucson to clear out my cafe for a remodel, and I couldn't
                    be more impressed. Their team was incredibly professional,
                    courteous, and efficient. They took care of all the junk,
                    leaving my place spotless. I highly recommend their
                    services!"
                  </p>
                  <div class="blockquote-details">
                    <img
                      class="rounded-circle w-12"
                      src=`${Astro.site.origin}/avatars/t7.jpg`
                      alt=""
                    />
                    <div class="info">
                      <h5 class="mb-1">Tim</h5>
                    </div>
                  </div>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="item col-md-6 col-xl-4">
            <div class="card">
              <div class="card-body">
                <span class="ratings five mb-3"></span>
                <blockquote class="icon mb-0">
                  <p>
                    “Making a big move is already stressful enough without
                    having to deal with all of the junk that's definitely not
                    going with us. Clutter Cowboys came out quickly to handle it
                    for us so we could focus on all the other stuff that
                    mattered.”
                  </p>
                  <div class="blockquote-details">
                    <img
                      class="rounded-circle w-12"
                      src=`${Astro.site.origin}/avatars/te5.jpg`
                      alt=""
                    />
                    <div class="info">
                      <h5 class="mb-1">Jackie</h5>
                    </div>
                  </div>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="item col-md-6 col-xl-4">
            <div class="card">
              <div class="card-body">
                <span class="ratings five mb-3"></span>
                <blockquote class="icon mb-0">
                  <p>
                    “I recently used Clutter Cowboys after my kitchen remodel,
                    and they were awesome! The people on the phone were super
                    nice, and the crew was punctual and efficient. They got
                    everything loaded onto their truck in no time and didn't
                    damage any of my stuff. Clutter Cowboys is definitely the
                    way to go for junk removal - fair prices and a cool team.
                    I'll use them again for sure!”
                  </p>
                  <div class="blockquote-details">
                    <img
                      class="rounded-circle w-12"
                      src=`${Astro.site.origin}/avatars/te6.jpg`
                      alt=""
                    />
                    <div class="info">
                      <h5 class="mb-1">Adrian</h5>
                    </div>
                  </div>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </section>

  <section class="wrapper bg-light">
    <div class="container mb-14">
      <div class="row">
        <div class="col-xl-10 mx-auto">
          <div
            class="card image-wrapper bg-full bg-image bg-overlay bg-overlay-400"
            data-image-src="/images/bg13.jpg"
          >
            <div
              class="card-body p-6 p-md-11 d-lg-flex flex-row align-items-lg-center justify-content-md-between text-center text-lg-start"
            >
              <h3
                class="display-6 mb-6 mb-lg-0 pe-lg-10 pe-xl-5 pe-xxl-18 text-white"
              >
                Ready for us to haul your junk?<br />Give us a call so we can
                take care of you.
              </h3>
              <a
                href="tel:520-600-6322"
                class="btn btn-soft-primary btn-lg rounded-pill mb-0 btn-icon btn-icon-start"
                ><i class="uil uil-phone"></i>520-600-6322</a
              >
            </div>
            <!--/.card-body -->
          </div>
          <!--/.card -->
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>

  <section class="wrapper bg-soft-primary" id="estimate-job">
    <div class="container py-14 py-md-14">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h3 class="fs-30 text-uppercase text-primary mb-3">
            Want a quick estimate before calling?
          </h3>
          <p class="lead mb-10">
            <b
              >Imagine all your junk as <span class="underline-3 style-3"
                >refrigerator-sized</span
              > piles. Then change the number below.</b>
          </p>
          <h4 class="display-6 mb-0 user-select-none">
            Your <i
              id="decrease_pile"
              class="uil uil-minus-circle fs-28 me-1 text-primary text-opacity-50 cursor-pointer"
            ></i><span id="pile_number" class="underline-3 style-2 fs-40"
              >6</span
            ><i
              id="increase_pile"
              class="uil uil-plus-circle fs-28 ms-1 text-primary cursor-pointer"
            ></i> piles will cost between <span
              id="lower_estimate"
              class="underline-3 style-2">$231</span
            > and <span id="upper_estimate" class="underline-3 style-2"
              >$363</span
            >.
          </h4>
        </div>
        <!-- /column -->
      </div>
      <div
        class="d-flex align-items-center justify-content-center mt-12 main-cta-action"
      >
        <span
          ><a
            href="tel:520-600-6322"
            class="btn btn-xl btn-primary rounded-pill btn-icon btn-icon-start text-white me-4 my-2"
            ><i class="uil uil-phone"></i>Call now</a
          ></span
        >
        <span
          >for a <b>no-obligation, in-person</b> estimate (we never charge just to
          come out)</span
        >
      </div>
    </div>
    <!-- /.container -->
  </section>

  <style>
    .hero-wrapper {
      background-position: 27% center !important;
    }
  </style>
</LandingPageLayout>
