---
import "../styles/style.scss";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Reliable junk hauling & removal services in Tucson, AZ. We handle residential & commercial junk, from furniture to debris. Get a clutter-free space! Call now."
    />
    <meta
      name="keywords"
      content="Junk removal, junk hauling, scrap hauling, cleanout services, clutter removal, construction cleanup, appliance disposal, furniture removal"
    />
    <meta name="author" content="Clutter Cowboys" />
    <title>Tucson Junk Removal and Hauling Specialists | Clutter Cowboys</title>
    <meta
      property="og:image"
      content="https://cluttercowboys.com/social-card-hd.jpg"
    />
    <meta
      property="og:title"
      content="Tucson Junk Removal and Hauling Specialists | Clutter Cowboys"
    />
    <meta
      property="og:description"
      content="Reliable junk hauling & removal services in Tucson, AZ. We handle residential & commercial junk, from furniture to debris. Get a clutter-free space! Call now."
    />
    <meta property="og:image:width" content="1600" />
    <meta property="og:image:height" content="836" />
    <link rel="shortcut icon" href="/favicon.png" />
    <link rel="stylesheet" href="/css/external.css" />

    <!-- Google tag (gtag.js) -->
    <script
      is:inline
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-RRBJ4Q5G6B"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-RRBJ4Q5G6B");
      gtag("config", "AW-949945401");
    </script>
    <script>
      gtag("config", "AW-949945401/J5beCNXO8KAYELmI_MQD", {
        phone_conversion_number: "520-600-6322",
      });
    </script>
    <!-- Meta Pixel Code -->
    <script>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        "script",
        "https://connect.facebook.net/en_US/fbevents.js"
      );
      fbq("init", "241669498554433");
      fbq("track", "PageView");
    </script>
    <noscript>
      <img
        height="1"
        width="1"
        style="display:none"
        src="https://www.facebook.com/tr?id=241669498554433&ev=PageView&noscript=1"
      />
    </noscript>
    <!-- End Meta Pixel Code -->
  </head>

  <body>
    <div class="content-wrapper">
      <header class="wrapper mb-2">
       <nav class="navbar navbar-expand-lg classic transparent navbar-light">
          <div class="container flex-lg-row flex-nowrap align-items-center">
            <div class="navbar-brand me-6 py-3">
              <a href="/">
                <img src="/images/cc-text-logo.png" alt="">
              </a>
            </div>
            <div class="navbar-other ms-lg-4">
              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <li class="me-2 text-center"><strong><u>Call for your free no-obligation estimate</u></strong></li>
                <li class="nav-item">
                  <a href="tel:520-600-6322" class="btn btn-sm btn-primary rounded-pill text-white">520-600-6322</a>
                </li>
              </ul>
              <!-- /.navbar-nav -->
            </div>
            <!-- /.navbar-other -->
          </div>
        </nav>
      </header>
      <slot />
    </div>
    <footer class="bg-navy text-inverse">
      <div class="container pt-15 pt-md-10 pb-13 pb-md-15">
        <div class="d-lg-flex flex-row align-items-lg-center">
          <h3
            class="display-4 mb-6 mb-lg-0 pe-lg-20 pe-xl-22 pe-xxl-25 text-white"
          >
            Give us a call today to handle all your junk hauling needs.
          </h3>
          <a
            href="tel:520-600-6322"
            class="btn btn-primary btn-lg rounded-pill mb-0 btn-icon btn-icon-start text-white"
            ><i class="uil uil-phone"></i>520-600-6322</a
          >
        </div>
        <!--/div -->
        <hr class="mt-11 mb-12" />
        <div class="row gy-6 gy-lg-0">
          <div class="col-md-4 col-lg-3">
            <div class="widget">
              <img
                class="mb-4"
                src="/logo_200.png"
                alt="Clutter Cowboys Logo"
              />
              <p class="mb-4">
                Clutter Cowboys © 2023. <br class="d-none d-lg-block" />All
                rights reserved.
              </p>
            </div>
            <!-- /.widget -->
          </div>
          <!-- /column -->
          <div class="col-md-4 col-lg-3">
            <div class="widget">
              <h4 class="widget-title text-white mb-3">Areas We Service</h4>
              <ul class="unordered-list bullet-primary">
                <li>Central Tucson</li>
                <li>Oro Valley</li>
                <li>Marana</li>
                <li>Catalina Foothills</li>
                <li>South Tucson</li>
                <li>Corona de Tucson</li>
                <li>Vail</li>
              </ul>
            </div>
            <!-- /.widget -->
          </div>
          <!-- /column -->
          <div class="col-md-4 col-lg-3">
            <div class="widget">
              <h4 class="widget-title text-white mb-3">Important Links</h4>
              <ul class="list-unstyled mb-0">
                <!-- <li><a href="#">About Us</a></li>
                <li><a href="#">Our Story</a></li>
                <li><a href="#">Projects</a></li> -->
                <li><a href="/terms-of-use">Terms of Use</a></li>
                <li><a href="/privacy-policy">Privacy Policy</a></li>
              </ul>
            </div>
            <!-- /.widget -->
          </div>
          <!-- /column -->
          <div class="col-md-12 col-lg-3">
            <div class="widget">
              <h4 class="widget-title text-white mb-3">Get in Touch</h4>
              <address class="pe-xl-15 pe-xxl-17">Sunny Tucson, AZ</address>
              <a href="mailto:#">hello@cluttercowboys.com</a><br /><a
                href="tel:520-600-6322">520-600-6322</a
              >
            </div>
            <!-- /.widget -->
          </div>
          <!-- /column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /.container -->
    </footer>
    <div class="progress-wrap">
      <svg
        class="progress-circle svg-content"
        width="100%"
        height="100%"
        viewBox="-1 -1 102 102"
      >
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
      </svg>
    </div>

    <script
      is:inline
      src=`${Astro.site.origin}/scripts/vendor/headhesive.min.js`></script>
    <script
      is:inline
      src=`${Astro.site.origin}/scripts/vendor/imagesloaded.pkgd.min.js`
    ></script>
    <script
      is:inline
      src=`${Astro.site.origin}/scripts/vendor/isotope.pkgd.min.js`></script>
    <script is:inline src=`${Astro.site.origin}/scripts/vendor/scrollCue.min.js`
    ></script>
    <script is:inline src=`${Astro.site.origin}/scripts/vendor/smoothscroll.js`
    ></script>
    <script
      is:inline
      src=`${Astro.site.origin}/scripts/vendor/svg-inject.min.js`></script>
    <script
      is:inline
      src=`${Astro.site.origin}/scripts/vendor/swiper-bundle.min.js`></script>
    <script is:inline src=`${Astro.site.origin}/scripts/theme.js`></script>
  </body>
</html>
